<section class="hero">
  <section class="container">
    <h1>History</h1>
    ATLUS has established itself as one of its industry's most consistent, celebrated brands. With proven success across a variety of genres and platforms, including enthusiast-oriented games like the Shin Megami Tensei franchise of award-winning RPGs, the beloved Persona® series, and the groundbreaking action-adventure/puzzle game Catherine™, ATLUS creates exceptional, critically acclaimed interactive entertainment for a wide spectrum of players everywhere.

  </section>
</section>
