.hero {
  background: url('../../../assets/img/hero.png') no-repeat center center;
  background-size: cover;
  display: table;
  width: 100%;
  }
  .hero .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 700px;
  font-weight: bolder !important;
  font-size: 1.5rem !important;
  color: #ff0901c1 !important;
  }
