<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">GAME GALLERY</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-left">
  
      <div class="col-lg-3 col-md-4 col-6">
          <h3>ODIN SPHERE R:05/17/07</h3>
        <a href="#" class="d-block mb-4 h-100">
     
              <img class="img-fluid img-thumbnail" src="../../../assets/img/odin-sphere-atlus.png" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <h3> KING FIGHTERS 14 R: 08/23/16</h3>
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="../../../assets/img/thekingFightersxiv.jpeg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <h3>PERSONA 5 R:04/04/17</h3>
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="../../../assets/img/persona-5-img.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <h3>SAMURAI WESTERN R:01/01/05</h3>
        <a href="#" class="d-block mb-4 h-100">
              <img class=" img-thumbnail" src="../../../assets/img/samurai western.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <h3>PERSONA PSP</h3>
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="../../../assets/img/personapsp.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <h3>BAROQUE R:05/21/98</h3>
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="../../../assets/img/baroque.jpeg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <h3> SHIN MEGAMI TENSEI R:10/30/92</h3>
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="../../../assets/img/Shin_Megami_Tensei_1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <h3>PERSONA 3 R: 07/13/06</h3>
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="../../../assets/persona3.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src= "" alt="">
            </a>
      </div>
    </div>
  
  </div>