<div class="container">

    <!-- Page History -->
    <h1 class="my-4"> History
      <small></small>
    </h1>

    
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/atlus.0.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3></h3>
        <p>ATLUS was established in 1991 as Asuka, an American branch of then ATLUS Co., Ltd., with the stated mission of introducing high-quality video games for North America. ATLUS gained a following within the gaming industry for its high quality, best-in-class localization of Japanese content for the western market.

            First recognized for its bold, visionary roleplaying games—most notably the acclaimed Shin Megami Tensei franchise and celebrated Persona® series—ATLUS is renowned for delivering unforgettable, story-driven gameplay experiences for dedicated and enthusiastic fans around the world.</p>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/img/shin meg.png" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Shin Megami Tensei</h3>
        <p>Megami Tensei is a series of role-playing video games (RPGs) primarily developed by Atlus. It began with 1987's Digital Devil Story: Megami Tensei, which is based on Aya Nishitani's novel of the same name, and has spawned a sequel and several sub-series, such as the Persona and Devil Summoner series. The original Digital Devil Story: Megami Tensei games and the Shin Megami Tensei sub-series form the core of the series, while other entries are considered spin-offs.

            Early games have received infrequent releases outside Japan: the first title to be released in North America was 1995's Jack Bros., and the first Megami Tensei RPG released in the region was 1996's Revelations: Persona. The first game released in the PAL region was 2003's Shin Megami Tensei: Nocturne, which was released there in 2005. The series has several recurring themes, including demon-summoning, Japanese folklore, and the occult. Despite its thematic roots in Japanese culture and mythology, it has found a cult following internationally. It is Atlus's flagship role-playing game series, and one of the biggest in the genre in Japan.[5] Several other types of media based on the series have been made, including anime and manga.</p>
       
      </div>
    </div>
    <!-- /.row -->
    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/persona5jpg.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Persona </h3>
        <p>Persona began as a spin-off based on the positively-received setting of If.... Its trademark features include a high school setting, a group of students as the protagonists, a silent protagonist similar to the mainline Megami Tensei franchise, and combat using Personas. Since the release of Persona 3 in 2006, the main series has used a social simulation function called Social Links, which is directly linked to how Personas evolve. Central character designs are by series co-creator Kazuma Kaneko (Persona and the Persona 2 duology) and Shigenori Soejima (Persona 3 onwards). Its overall theme is exploration of the human psyche and how the characters find their true selves. The series' recurring concepts and design elements draw on Jungian psychology and archetypes, along with religion, mythology, and popular literature</p>
      </div>
    </div>
    <!-- /.row -->